@import 'inc/reset.css';
@import 'inc/header.css';
@import 'inc/placeholder.css';
@import 'inc/rounded.css';
@import 'inc/classes.css';
@import 'inc/account.css';
@import 'inc/password.css';
@import 'inc/cv.css';

body {
    padding-block-start: 130px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);
}

.container {
    padding-inline: 15px;
}

.has-scrollbar {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    padding-bottom: 20px;
    scroll-snap-type: inline mandatory;
}

.has-scrollbar>li {
    min-width: 100%;
    scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar {
    height: 10px;
}

.has-scrollbar::-webkit-scrollbar-track {
    background: var(--white);
    outline: 2px solid var(--blue);
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background: var(--blue);
    border: 2px solid var(--white);
}

.has-scrollbar::-webkit-scrollbar-track,
.has-scrollbar::-webkit-scrollbar-thumb {
    -moz-border-radius: var(--radiusem);
    -webkit-border-radius: var(--radiusem);
    -khtml-border-radius: var(--radiusem);
    border-radius: var(--radiusem);
}

.has-scrollbar::-webkit-scrollbar-button {
    width: calc(25% - 40px);
}

.go-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--blue);
    color: var(--white);
    font-size: 20px;
    padding: 10px;
    border: 4px solid var(--white);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
    z-index: 2;

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
}

.go-top-btn.active {
    opacity: 1;
    visibility: visible;
}

.go-top-btn:is(:hover, :focus) {
    background: var(--gold);
}

ion-icon {
    display: block;
    pointer-events: none;
}

main {
    margin: 0 auto;
}

main>ul {
    display: flex;
}

main>ul>li:first-child ul {
    display: inline-block;
}

main>ul>li:first-child li a {
    color: var(--blue);
    display: block;
    padding: 20px;
}

main>ul>li:first-child li a:hover {
    background: var(--blue);
    color: #fff;
    border-bottom: var(--ln_hov) solid 1px;
}

main>ul>li:last-child {
    margin: 0 auto;
}

#session-expired {
    color: red;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/*---------- media ----------*/
@media (max-width: 575px) {
    .container {
        max-width: var(--med_575);
        width: 100%;
        margin-inline: auto;
    }

    main {
        max-width: var(--med_575);
    }
}

@media (max-width: 768px) {
    .container {
        max-width: var(--med_768);
    }

    .go-top-btn {
        padding: 15px;
        border-width: 6px;
        bottom: 30px;
        right: 30px;
    }

    main {
        max-width: var(--med_768);
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: var(--med_1024);
    }

    main {
        max-width: var(--med_1024);
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: var(--med_1200);
    }

    main {
        max-width: var(--med_1200);
    }
}