@import 'inc/reset.css';
@import 'inc/header.css';
@import 'inc/placeholder.css';
@import 'inc/rounded.css';
@import 'inc/classes.css';
@import 'inc/account.css';

body {
    padding-block-start: 90px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);
}

.container {
    padding-inline: 15px;
}

.has-scrollbar {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    padding-bottom: 20px;
    scroll-snap-type: inline mandatory;
}

.has-scrollbar>li {
    min-width: 100%;
    scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar {
    height: 10px;
}

.has-scrollbar::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 20px;
    outline: 2px solid var(--blue);
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background: var(--blue);
    border: 2px solid var(--white);
    border-radius: 20px;
}

.has-scrollbar::-webkit-scrollbar-button {
    width: calc(25% - 40px);
}

.go-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--blue);
    color: var(--white);
    font-size: 20px;
    padding: 10px;
    border: 4px solid var(--white);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
    z-index: 2;
}

.go-top-btn.active {
    opacity: 1;
    visibility: visible;
}

.go-top-btn:is(:hover, :focus) {
    background: var(--gold);
}

ion-icon {
    display: block;
    pointer-events: none;
}

/*---------- media ----------*/
@media (min-width: 575px) {
    .container {
        max-width: 650px;
        width: 100%;
        margin-inline: auto;
    }

}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .go-top-btn {
        padding: 15px;
        border-width: 6px;
        bottom: 30px;
        right: 30px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }

}

@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
    }

}