/*		account			*/

.account {
    padding: 20px;
    border:var(--ln_hov) solid 1px;
}

div.account {
    margin: 0 auto;
}

.account table {
    margin: 0 auto;
    padding: 20px;
}

.account td {
    padding: 5px;
}

form.account input[type=text],
form.account input[type=email],
form.account textarea {
    width: 300px;
}

/*		account			*/