/*	classes		*/

.box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-content {
    text-align: center;
}

.box-content>ul>li:last-child {
    background: #fff;
    border: #ccc solid 1px;
}

.box-content>ul>li {
    -moz-border-radius: var(--radiusem);
    -webkit-border-radius: var(--radiusem);
    -khtml-border-radius: var(--radiusem);
    border-radius: var(--radiusem);
    padding: 20px;
}

.clear { clear:both; }
.ct { text-align:center !important; }
.lt { text-align:left !important; }
.rt { text-align:right !important; }

.good { color:green;font-style:italic; }
.bad { color:red;font-style:italic; }

/*	classes		*/
