/*	rounded corner	*/

.change-pass li {
    padding: 5px;
}

.change-pass li * {
    padding: 10px;
}

.change-pass li *:not(span) {
    display: inline-block;
    text-align: left;
    width: 180px;
}

.change-pass li input[type=password] {
    width: 300px;
}

.change-pass li input[type=submit] {
    text-align: center;
}

.bad {
    font-size: 12px;
}

/*	rounded corner	*/