/*	rounded corner	*/

textarea,
select,
input,
button,
.btn {
    -moz-border-radius: var(--radius_5);
    -webkit-border-radius: var(--radius_5);
    -khtml-border-radius: var(--radius_5);
    border-radius: var(--radius_5);
}

.rad10 {
    -moz-border-radius: var(--radius10);
    -webkit-border-radius: var(--radius10);
    -khtml-border-radius: var(--radius10);
    border-radius: var(--radius10);
}
/*	rounded corner	*/